<leia-project-panel>
	<leia-header>
		<editable [(text)]="_project.name"></editable>

		<h2>{{socketService.connected ? "" : "Disconnected"}}</h2>
		<leia-header-group>
			<button [disabled]="!runService.running || !socketService.connected" (click)="runService.continue()"><i class="fa fa-play"></i> Continue</button>
			<button [disabled]="!runService.running || !socketService.connected" (click)="runService.step()"><i class="fa fa-step-forward"></i> Step</button>
			<button *ngIf="!runService.running" [disabled]="runService.running || !socketService.connected" (click)="runProject()"><i class="fa fa-play"></i> Run</button>
			<button *ngIf="runService.running" [disabled]="!socketService.connected" (click)="runService.stop()"><i class="fa fa-stop"></i> Stop</button>
		</leia-header-group>
		<leia-header-group>
			<button (click)="persist()"><i class="fa fa-download"></i> Download</button>
			<button (click)="exit()"><i class="fa fa-sign-out" ></i> Exit</button>
		</leia-header-group>
	</leia-header>
	<left>
		<leia-file-structure>
			<panel-sub-header>Open Files</panel-sub-header>
			<leia-file-structure-no-open-file *ngIf="sessionSet.length == 0">
				<span>No open files</span>
			</leia-file-structure-no-open-file>
			<panel-list>
				<li *ngFor="let item of sessionSet">
					<span class="clickable grow" (click)="selectFile(item.key)">{{item.key.name}}{{item.value.dirty ? '*' : ''}}</span>
					<span class="clickable" (click)="closeSession(item.value)"><i class="fa fa-times-circle-o"></i></span>
				</li>
			</panel-list>
			<panel-sub-header>Files</panel-sub-header>
			<panel-list>
				<li *ngFor="let file of _project.files">
					<span class="clickable grow" (click)="selectFile(file)">{{file.name}}</span>
					<span class="clickable" (click)="deleteFile(file)"><i class="fa fa-trash-o"></i></span>
				</li>
			</panel-list>
			<new-file-form (newFile)="newFile($event)"></new-file-form>
		</leia-file-structure>
	</left>
	<central>
		<leia-editor>
		</leia-editor>
	</central>
	<right>
		<leia-tabs-select>
			<leia-tab-select tabTitle="Registers"><leia-registers></leia-registers></leia-tab-select>
			<leia-tab-select tabTitle="Symbols"><leia-symboltable></leia-symboltable></leia-tab-select>
		</leia-tabs-select>
	</right>
	<bottom>
		<leia-tabs-list>
			<leia-tab-list tabTitle="Console">
				<leia-console>
					<leia-console-output>{{runService.stdout}}</leia-console-output>
				</leia-console>
			</leia-tab-list>
			<leia-tab-list tabTitle="Memory">
				<leia-memory>
				</leia-memory>
			</leia-tab-list>
		</leia-tabs-list>
	</bottom>
</leia-project-panel>