<header>
	<h2>{{_project.name}}</h2>
	<h2>{{socketService.connected ? "" : "Disconnected"}}</h2>
	<button [disabled]="!runService.running || !socketService.connected" (click)="runService.continue()">Continue</button>
	<button [disabled]="!runService.running || !socketService.connected" (click)="runService.step()">Step</button>

	<button *ngIf="!runService.running" [disabled]="runService.running || !socketService.connected" (click)="runProject()">Run</button>
	<button *ngIf="runService.running" [disabled]="!socketService.connected" (click)="runService.stop()">Stop</button>
</header>
<div class="projectview">
	<div class="file-structure">
		<h4>Open Files</h4>
		<ul>
			<li *ngFor="#item of sessionSet"><span (click)="selectFile(item.key)">{{item.key.name}}{{item.value.dirty ? '*' : ''}}</span><span class="close" (click)="closeSession(item.value)">[X]</span></li>
		</ul>
		<h4>Files</h4>
		<ul>
			<li *ngFor="#file of _project.files"><span (click)="selectFile(file)">{{file.name}}</span><span class="delete" (click)="deleteFile(file)">[Delete]</span></li>
		</ul>
		<new-file-form (newFile)="newFile($event)"></new-file-form>
	</div>
	<lea-editor>
	</lea-editor>
	<lea-registers></lea-registers>
</div>
<lea-console>
	<h4>Console {{runService.running ? "- Running" : ""}}</h4>
	{{runService.gccErr}}
	{{runService.stdout}}
</lea-console>
