body {
	background-color: white;
	margin: 0px;
	font-family: arial;
}

.projectview {
	display: flex;
	flex-flow: row wrap;
}

lea-editor {
	order: 2;
	flex-grow: 8;
    h4 {
    	margin: 0;
		background-color: #79C3E6;
		color: white;
		padding: 5px;
    }
}

ace-editor {
	display: block;
	height: 400px;
}

.breakpoint_pending {
	border-radius: 20px 0px 0px 20px;
	background-color: orange;
}

.breakpoint_line {
	position: absolute;
	z-index: 1000;
	background: lightpink;
}

.file-structure {
	order: 1;
	flex-grow: 1;
	h4{
		background-color: #79C3E6;
		color: white;
		margin: 0;
		padding: 10px;
	}
	ul {
		padding: 0px;
		margin: 0px;
		cursor: default;
		li {
			display: block;
    		list-style: none;
			padding: 5px 10px;
    		.delete, .close {
    			float: right;
				&:hover {
					text-decoration: underline;
				}
    		}
			&:hover {
				background-color: #ADADAD;
			}
		}
	}
}

lea-registers {
	order: 3;
	flex-grow: 1;

	h4 {
		background-color: #79C3E6;
		color: white;
		margin: 0;
		padding: 10px;
	}

  	table {
		font-family: monospace;
	}
}

lea-symboltable {
  order: 4;
  flex-grow: 1;

  h4 {
	background-color: #79C3E6;
	color: white;
	margin: 0;
	padding: 10px;
  }

  table {
	font-family: monospace;
  }
}

header {
	justify-content: space-between;
	display: flex;
	flex-wrap: nowrap;
	padding: 10px 20px;
	background-color: #3E3E3E;
    color: white;
	h2 {
		margin: 0px;
	}
}

new-file-form {
	display: block;
    padding: 10px 20px;
}

lea-console {
	display: block;
    padding: 5px 10px;
    font-family: courier new;
    background-color: #E8E8E8;
    h4 {
    	margin: 0;
		background-color: #79C3E6;
		color: white;
		padding: 5px;
    }
}
