$primary-color: #79C3E6;

body {
	background-color: white;
	margin: 0px;
	font-family: arial;
}

lea-project {
	lea-project-panel {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		display: flex;
		flex-direction: column;

		lea-header {
			order: 1;
			flex-grow: 0;
			justify-content: space-between;
			display: flex;
			flex-wrap: nowrap;
			flex-shrink: 0;
			background-color: #3E3E3E;
			color: white;
			h2 {
				margin: 5px;
			}
			lea-header-group {
				display: flex;
				button {
					background: none;
					border-left: 1px solid white !important;
					border-right: 1px solid white !important;
					color: white;
					border: none;
					&:hover {
						background-color: $primary-color;
					}
				}
			}
		}

		lea-project-view {
			order: 2;
			flex-grow: 8;

			display: flex;
			flex-flow: row;

			panel {
				border: 1px #79C3E6 solid;
			}

			lea-tabs-select {
				select {
					border: none;
					background-color: #79C3E6;
					color: white;
					padding: 5px;
					font-size: 18px;
				}
			}
			lea-left-panel {
				@extend panel;
				order: 1;

				display: flex;
				left {
					flex-grow: 1;

					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}
				lea-resize-panel {
					display: flex;
					justify-content: flex-start;
				}

				lea-file-structure {
					h4{
						margin: 0;
						padding: 10px;
						border-left: 8px #79C3E6 solid;
					}
					lea-file-structure-no-open-file {
						padding: 20px;
						display: block;
						font-style: italic;
					}
					ul {
						padding: 0px;
						margin: 0px;
						margin-bottom: 20px;
						cursor: default;
						li {
							display: flex;
							justify-content: space-between;
							list-style: none;
							margin-left: 20px;
							.name, .delete, .close {
								padding: 5px 10px;
								&:hover {
									background-color: #e8e8e8;
								}
							}
							.name {
								flex-grow: 1;

							}
						}
					}
				}
			}
			lea-middle-panel {
				@extend panel;
				order: 2;
				flex-grow: 8;

				display: flex;

				central {
					flex-grow: 1;

					display: flex;

					lea-editor {
						flex-grow: 1;

						display: flex;

						lea-editor-active-session {
							flex-grow: 1;

							display: flex;
							flex-direction: column;

							h4 {
								flex-shrink: 0;
								margin: 0;
								background-color: #79C3E6;
								color: white;
								padding: 5px;
								font-weight: normal;
								font-size: 18px;
								button {
									background: none;
									border: none;
									color: white;
									margin-left: 20px;
									&:hover {
										text-decoration: underline;
									}
								}
							}

							ace-editor {
								flex-grow: 1;
								display: block;
							}
						}
					}

					lea-editor-no-session {
						flex-grow: 1;
						display: flex;
						justify-content: center;
						flex-direction: column;
						background-color: #e8e8e8;
						h3 {
							text-align: center;
							font-style: italic;
							font-weight: normal;
							color: gray;
						}
					}
				}
			}
			lea-right-panel {
				@extend panel;
				order: 3;

				display: flex;
				right {
					flex-grow: 1;

					display: flex;
					flex-direction: column;
					justify-content: space-between;

					lea-tabs-select {
						flex-grow: 1;

						display: flex;
						flex-direction: column;

						select {
							flex-shrink: 0;
						}

						lea-tab-select {
							flex-grow: 1;
							flex-shrink: 1;

							display: flex;

							lea-registers {
								flex-shrink: 1;
								flex-grow: 1;
								overflow-y: scroll;
								display: flex;
								table {
									flex-grow: 1;
									width: 100%;
									font-family: monospace;
									tr {
										td:first-child {
											padding-left: 5px;
										}
									}
								}
							}
						}
					}
				}
				lea-resize-panel {
					display: flex;
					justify-content: flex-end;
				}
			}
		}

		lea-bottom-panel {
			order: 3;

			display: flex;
			flex-direction: row;
			bottom {
				flex-grow: 1;

				display: flex;
				flex-direction: row;
				justify-content: space-between;

				lea-tabs-list {
					order: 1;
					flex-grow: 1;

					display: flex;
					flex-direction: column;

					.lea-tabs {
						flex-shrink: 0;

						list-style: none;
						display: flex;
						flex-flow: row wrap;
						background: $primary-color;
						color: white;
						margin: 0px;
						padding: 0px;
						li {
							font-size: 18px;
							padding: 5px;
							&:hover {
								text-decoration: underline;
							}
							&.active {
								font-weight: bold;
							}
						}
					}

					lea-tab-list {
						flex-grow: 1;

						display: flex;

						lea-console {
							flex-grow: 1;
							background-color: #E8E8E8;

							display: flex;

							lea-console-output {
								font-family: courier new;
								white-space: pre-wrap;
								padding: 13px;
							}
						}

						lea-memory {
							flex-grow: 1;

							display: flex;
							flex-direction: column;
							lea-memory-header {
								flex-shrink: 0;

								display: flex;
								justify-content: center;
								padding: 5px 10px;

								button {
									border: none;
									background-color: #79C3E6;
									color: white;
								}

								h3 {
									margin: 0px 10px;
									font-weight: normal;
								}
							}
							lea-memory-content {
								flex-shrink: 0;
								font-family: monospace;
								display: flex;
								justify-content: center;
							}
						}
					}
				}
			}

			lea-resize-panel {
				order: 2;

				display: flex;
				justify-content: flex-end;
				flex-direction: column;
			}
		}
	}
}

lea-resize-panel {
	flex-shrink: 0;
	background-color: #e8e8e8;
	button {
		flex-grow: 0;
		background-color: #e8e8e8;
		border: none;
	}
}

.breakpoint_pending {
	border-radius: 20px 0px 0px 20px;
	background-color: orange;
}

.breakpoint_line {
	position: absolute;
	z-index: 1000;
	background: lightpink;
}


lea-symboltable {
  table {
	font-family: monospace;
  }
}

new-file-form {
	display: block;
    padding: 10px 20px;
}