<header>
	<h2>{{project.name}}</h2>
	<h2>{{connected ? "" : "Disconnected"}}</h2>
	<button *ngIf="!running" [disabled]="running || !connected" (click)="run()">Run</button>
	<button *ngIf="running" [disabled]="!connected" (click)="stop()">Stop</button>
</header>
<div>
	<div class="file-structure">
		<ul>
			<li *ngFor="#file of project.files"><span (click)="selectFile(file)">{{file.name}}</span><span class="delete" (click)="deleteFile(file)">[Delete]</span></li>
		</ul>
		<new-file-form (newFile)="newFile($event)"></new-file-form>
	</div>
	<editor-panel>
		<h4>{{selectedFile.name}}</h4>
		<ace-editor [file]="selectedFile"></ace-editor>
	</editor-panel>
	<clear></clear>
</div>
<lea-console>
	<h4>Console {{running ? "- Running" : ""}}</h4>
	{{gccErr}}
	{{stdout}}
</lea-console>
